/* for navigation bar... */

body {
  margin:0;
}

.navbar {
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: blue;
  text-align: center;
  padding: 1px 22px;
  margin-top: 6px;
  margin-bottom:−0.3px;
  text-decoration: none;
  font-size: 35px;
}

.navbar a:hover {
  background: red;
  color: blue;
}

/* for main in all the page...*/
.main {
  padding: 15px;
  margin-top: 50px;
}
