
/* for navigation bar... */

body {
  margin:0;
}

.navbar {
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
}

.sss{
  position:fixed;
  margin-top:0px;
  margin-Right:5px;
  margin-left:31%;
  
}



.navbar a {
  float: left;
  color: blue;
  text-align: center;
  padding: 1px 10px;
  margin-top: 3px;
  margin-bottom:6px;
  text-decoration: none;
  font-size: 35px;
}

.navbar a:hover {
  background: red;
  color: blue;
}

/* for main in all the page...*/
/* in html - <div class="main">###<div> */

.main {
  padding: 15px;
  margin-top: 50px;
}

/* for navigation menu-1st */

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 10px 30px;
  text-decoration: none;/
  font-size: 40px;
  font-weight: Bold;
  color: blue;




  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 40px;
  font-weight: Bold;
  margin-left: 3px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





/* for without copy starts */
/* in html  */

   .unselectable {
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
/* for without copy end */





/* The popup form - hidden by default */
.clicktopopup {
  display: none;
  margin-top:50px;
  border: 3px solid red;
  background-color:blue;
  z-index: 9;
}

.searchclosebutton {
  background-color: red;
  position: fixed;
  top: 44px;
  right:0px;
  width: 44px;
  height: 44px;
  font-size: 30px;
  border-color:blue;

}







#myInput {
  background-position: 10px 12px;
  background-color: red;
  width: 100%;
  font-size: 16px;
  color:black;
  padding: 12px 20px 12px 20px;
  border: 3px solid blue;
  margin-bottom: 10px;
  
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 2px solid red;
  margin-top: -1px; /* Prevent double borders */
  background-color: blue;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
 
}

#myUL li a:hover:not(.header) {
  background-color: red;
}






